/* -------------------- CSS BY PETER VELEZ ----------------------- */

/* -------------------- IMPORTED FONTS -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/*------------------ CSS RESET -----------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------- ROOT VARIABLES ------------------------- */
:root {
    font-family: Inter;
    --teal: #4ca7c0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E;
    --white: #ffffff;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
body {
    min-width: 450px;
    background-color: #484fb7;
    margin-bottom: 50px;
}

header h1, footer {
    width: 100%;
    background-color: #6B8FE7;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #1E1E1E;
}

.path {
    position: relative;
    z-index: 2;
    font-family: Kavoon;
    font-size: 3em;
    color: #ffffff;
    padding: 50px 10px 50px 10px;
    text-align: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

header p {
    background-color: #D9526F;
}

h2 {
    font-family: Kavoon;
    font-size: 2em;
    color: #ffffff;
}

.services {
    margin-left: 30px;
}

.one {
    margin: 5px 0px 5px 30px;
}

h3 {
    font-family: Inter;
    font-size: 1.5em;
    color: #E9BB57;
    font-weight: bold;
}

h4 {
    font-size: 1.15em;
    color: #484fb7;
    font-weight: bold;
}

div nav {
    position: fixed;
    z-index: 3;
    top: 0vh;
    right: 0vw;
    border: 2px solid #E9BB57;
    background: #E9BB57;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header p {
    visibility: hidden;
}

.shortened {
    display: relative;
    z-index: 1;
    visibility: visible;
    text-align: center;
    position: relative;
    bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
    padding-bottom: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #ffffff;
    font-style: italic;
}

img {
    padding: 5px;
}

.pd {
    display: flexbox;
    background-color: #ffffff;
    padding: 5px 20px 30px 20px;
    margin: 10px 40px 10px 40px;
    line-height: 1.5em;
    border-radius: 20px;
}

.pd h4 {
    padding-bottom: 5px;
}

.cc {
    display: flexbox;
    background-color: #ffffff;
    padding: 5px 20px 30px 20px;
    margin: 10px 40px 10px 40px;
    line-height: 1.5em;
    border-radius: 20px;
}

.rc {
    display: flexbox;
    background-color: #ffffff;
    padding: 5px 20px 30px 20px;
    margin: 10px 40px 10px 40px;
    line-height: 1.5em;
    border-radius: 20px;
}

.groupcoach {
    margin-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sc {
    display: flexbox;
    background-color: #ffffff;
    padding: 5px 20px 30px 20px;
    margin: 10px 40px 10px 40px;
    line-height: 1.5em;
    border-radius: 20px;
}

.fs {
    display: flexbox;
    background-color: #ffffff;
    padding: 5px 20px 30px 20px;
    margin: 10px 40px 10px 40px;
    line-height: 1.5em;
    border-radius: 20px;
}

.worksem {
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.intl {
    display: flexbox;
    background-color: #ffffff;
    padding: 5px 20px 30px 20px;
    margin: 10px 40px 10px 40px;
    line-height: 1.5em;
    border-radius: 20px;
}

.online {
    margin-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fl {
    display: flexbox;
    background-color: #ffffff;
    padding: 5px 20px 30px 20px;
    margin: 10px 40px 10px 40px;
    line-height: 1.5em;
    border-radius: 20px;
}

.list {
    background-color: #D9526F;
}

.list h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
}

.list ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 20px;
    .box {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 40px 20px 30px 20px;
        border-style: none;
        border-width: 2px;
        border-radius: 20px;
        justify-content: center;
        margin: 10px 15px 10px 15px;
    }
}

li:nth-child(1) {
    background-color: #4ca7c0;
    font-weight: bold;
}

li:nth-child(2) {
    background-color: #6B8FE7;
    font-weight: bold;
}

li:nth-child(3) {
    background-color: #E9BB57;
    font-weight: bold;
}

li:nth-child(4) {
    background-color: #ffffff;
    font-weight: bold;
}

.pricing {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
}

.gc {
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.oc {
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table {
    border-style: solid;
    border-color: #E9BB57;
    margin-left: auto;
    margin-right: auto;
}

th {
    border-style: solid;
    border-color: #E9BB57;
    border-width: 2px;
    padding: 10px;
    font-weight: bold;
    background-color: #E9BB57;
}

td {
    border-style: solid;
    border-color: #E9BB57;
    border-width: 2px;
    padding: 10px;
    background-color: #ffffff;
}

.mainbot h2 {
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mainbot {
    background-color: #D9526F;
    padding-bottom: 10px;
}

.mainbot p {
    text-align: center;
    line-height: 1.5em;
    color: #ffffff;
}

button {
    display: flex;
    border: none;
    font-weight: bold;
    padding: 25px 100px 25px 100px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 85px;
    box-shadow: 5px 5px 5px #1E1E1E;
}

footer {
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

footer p {
    text-align: center;
}

footer a {
    color: #ffffff;
}